#intro-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 1000; 
  overflow: hidden;
  display: none; 
  pointer-events: none; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Baloo Paaji 2', sans-serif;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0; 
  z-index: 1; 
  pointer-events: none; 
}

#intro-orbit-container {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  pointer-events: none;
}

#intro-player {
  position: absolute; 
  width: 135px; 
  height: 135px;
  background-color: #ddd; 
  border-radius: 50%;
  border: 2px solid #bdbdbd; 
  box-shadow: 0 0 15px #fff, 0 0 25px #aaa, 0 0 35px rgba(255,255,255,0.5); 
  opacity: 0;
  transform: scale(0.5);
  z-index: 100; 
  left: 50%;
  top: 50%;
  margin-left: -67.5px; 
  margin-top: -67.5px; 
}

.intro-enemy {
  position: absolute; 
  width: 20px; 
  height: 20px;
  border-radius: 50%;
  opacity: 0;
  transform: scale(0);
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  left: 50%;
  top: 50%;
  transform-origin: center center;
}

#intro-text {
  position: absolute;
  color: #ffffff;
  font-size: 20px; 
  font-family: 'Baloo Paaji 2', sans-serif;
  white-space: nowrap;
  opacity: 0; 
  text-shadow: 1px 1px 2px #000;
  z-index: 11; 
  left: 50%;
  top: 50%;
  transform: translate(-50%, -100%); 
  margin-top: -5x; 
} 